*.DS_Store
*.Makefile
*.host.mk
*.ncb
*.ninja
*.props
*.pyc
*.rules
*.scons
*.sdf
*.sln
*.suo
*.target.mk
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*_proto.xml
*_proto_cpp.xml
*~
.*.sw?
.cproject
.gdb_history
.gdbinit
.gn
.metadata
.project
.pydevproject
.settings
.sw?
/Makefile
/chromium/.gclient.tmp
/chromium/.gclient.tmp_entries
/chromium/.last_sync_chromium
/chromium/src
/gyp-mac-tool
/links
/links.db
/out
/resources/*.*
/resources/*/*.*
/talk/examples/android/bin
/talk/examples/android/gen
/talk/examples/android/libs
/talk/examples/android/local.properties
/talk/examples/android/obj
/talk/examples/android/proguard-project.txt
/webrtc/examples/android/media_demo/bin
/webrtc/examples/android/media_demo/gen
/webrtc/examples/android/media_demo/libs
/webrtc/examples/android/media_demo/local.properties
/webrtc/examples/android/media_demo/obj
/webrtc/examples/android/media_demo/proguard-project.txt
/webrtc/examples/android/opensl_loopback/bin
/webrtc/examples/android/opensl_loopback/gen
/webrtc/examples/android/opensl_loopback/libs
/webrtc/examples/android/opensl_loopback/local.properties
/webrtc/examples/android/opensl_loopback/obj
/webrtc/examples/android/opensl_loopback/proguard-project.txt
/webrtc/modules/audio_device/android/test/bin/
/webrtc/modules/audio_device/android/test/gen/
/webrtc/modules/audio_device/android/test/libs/
/webrtc/video_engine/test/android/bin
/webrtc/video_engine/test/android/gen
/webrtc/video_engine/test/android/libs
/webrtc/video_engine/test/android/obj
/x86-generic_out/
/xcodebuild

!*.sha1
