[submodule "buildtools"]
	path = buildtools
	url = https://chromium.googlesource.com/chromium/buildtools.git
[submodule "build"]
	path = build
	url = https://chromium.googlesource.com/chromium/src/build.git
[submodule "base"]
	path = base
	url = https://chromium.googlesource.com/chromium/src/base.git
[submodule "net"]
	path = net
	url = https://chromium.googlesource.com/chromium/src/net.git
[submodule "testing/gmock"]
	path = testing/gmock
	url = https://chromium.googlesource.com/external/gmock.git
[submodule "testing/gtest"]
	path = testing/gtest
	url = https://chromium.googlesource.com/chromium/testing/gtest.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://chromium.googlesource.com/chromium/src/third_party/zlib.git
[submodule "third_party/sqlite"]
	path = third_party/sqlite
	url = https://chromium.googlesource.com/chromium/src/third_party/sqlite.git
[submodule "third_party/android_tools"]
	path = third_party/android_tools
	url = https://chromium.googlesource.com/android_tools.git
[submodule "third_party/junit"]
	path = third_party/junit
	url = https://chromium.googlesource.com/external/webrtc/deps/third_party/junit
[submodule "third_party/colorama/src"]
	path = third_party/colorama/src
	url = https://chromium.googlesource.com/external/colorama.git
[submodule "third_party/icu"]
	path = third_party/icu
	url = https://chromium.googlesource.com/chromium/deps/icu.git
[submodule "third_party/jsr-305/src"]
	path = third_party/jsr-305/src
	url = https://chromium.googlesource.com/external/jsr-305.git
[submodule "third_party/libc++/trunk"]
	path = third_party/libc++/trunk
	url = https://chromium.googlesource.com/chromium/llvm-project/libcxx.git
[submodule "third_party/libc++abi/trunk"]
	path = third_party/libc++abi/trunk
	url = https://chromium.googlesource.com/chromium/llvm-project/libcxxabi.git
[submodule "third_party/libjpeg_turbo"]
	path = third_party/libjpeg_turbo
	url = https://chromium.googlesource.com/chromium/deps/libjpeg_turbo
[submodule "third_party/libsrtp"]
	path = third_party/libsrtp
	url = https://chromium.googlesource.com/chromium/deps/libsrtp.git
[submodule "third_party/libvpx"]
	path = third_party/libvpx
	url = https://chromium.googlesource.com/chromium/deps/libvpx.git
[submodule "third_party/libyuv"]
	path = third_party/libyuv
	url = https://chromium.googlesource.com/external/libyuv.git
[submodule "third_party/openmax_dl"]
	path = third_party/openmax_dl
	url = https://chromium.googlesource.com/external/webrtc/deps/third_party/openmax.git
[submodule "third_party/opus/src"]
	path = third_party/opus/src
	url = https://chromium.googlesource.com/chromium/deps/opus.git
[submodule "third_party/usrsctp/usrsctplib"]
	path = third_party/usrsctp/usrsctplib
	url = https://chromium.googlesource.com/external/usrsctplib.git
[submodule "third_party/yasm/source/patched-yasm"]
	path = third_party/yasm/source/patched-yasm
	url = https://chromium.googlesource.com/chromium/deps/yasm/patched-yasm.git
[submodule "third_party/boringssl/src"]
	path = third_party/boringssl/src
	url = https://boringssl.googlesource.com/boringssl.git
[submodule "tools/gyp"]
	path = tools/gyp
	url = https://chromium.googlesource.com/external/gyp.git
[submodule "tools/swarming_client"]
	path = tools/swarming_client
	url = https://chromium.googlesource.com/external/swarming.client.git
